<div class="wrap">
    <div id="container" class="container inner_content">
        <div id="options">                                           
            <ul id="filters" class="option-set" data-option-key="filter">
                <li><a href="#filter" data-option-value="*" class="btn dark_btn selected">All</a></li>
                <li><a href="#filter" data-option-value=".chinese-style" class="btn dark_btn" style="display: none">Chinese Style</a></li>                                            
                <li><a href="#filter" data-option-value=".western-style" class="btn dark_btn" style="display: none">Western Style</a></li>
            </ul>                                           
            <div class="clear"></div>
        </div>
        <div class="row">
            <!-- portfolio_block -->
            <div id="shops_group" class="projects">             
            </div>
            <div id="inline_canyin_chart_view" style="display:none;">
                <div id="canyin_chart_view"></div>
                <div id="canyin_comment_view"></div>
            </div>      
            <!-- //portfolio_block -->   
        </div>
    </div>
</div>