<ul>
    <li id="<%= this._id %>" >
        <div class="avatar"><a href="#"><img src="images/avatar/avatar.jpg" width="68" height="68" alt="" /></a></div>
        <div class="comment_right">
            <div class="comment_right">
                <div class="comment_info">
                    Posted by <a href="#"><%= this.username %></a> <span>|</span> <%= this.createtime %> <span>|</span> <a href="#canyin_comment/update">Edit</a><span>|</span> <a href="#canyin_comment/destroy">Delete</a><span>|</span> <a href="#canyin_comment/create">Reply</a> 
                </div>
                <p><%= this.comment %></p>
            </div>
        </div>
        <div class="clear"></div>
    </li>
</ul>