<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>	
    
    <!-- script
	================================================== -->
    <script type="text/javascript" src="/jslib/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/jslib/highcharts.js"></script>
	<script type="text/javascript" src="/jslib/exporting.js"></script>
	<!--[if lt IE 9]>
		<script src="/jslib/html5.js"></script>
	<![endif]-->

	<script type="text/javascript">

    jQuery(document).ready(function () {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'highChart',
                type: 'line',
                height: 150,
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Attention & Comment',
                x: -20 //center
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
				'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Attention'
                },
                plotLines: [{
                    value: 10,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' +
					this.x + ': ' + this.y;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Attention',
                data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]
            }, {
                name: 'Comment',
                data: [15, 25, 35, 45, 55, 65, 75, 85, 95, 105, 115, 125]
            }]
        });
    });
</script>

<body>
<div id="highChart">
</div><!--end:main-content-->     
</body>
</html>