<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Dining Shops</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>	
	<!-- Grid styles for IE -->
	<!--[if lt IE 9]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="all" />
	<![endif]-->
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />    
	<link rel="stylesheet" href="/css/slider.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />    
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" media="all" />
    
    <!-- script
	================================================== -->
    <script type="text/javascript" src="/lib/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/lib/slider/jquery.cslider.js"></script>
    <script type="text/javascript" src="/lib/css3-mediaqueries.js"></script>
	<script type="text/javascript" src="/lib/slider/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/lib/modernizr.custom.28468.js"></script>
	<script type="text/javascript" src="/lib/jquery.carouFredSel-5.6.2.js"></script>	
	<!--<script type="text/javascript" src="/lib/kendo.all.min.js"></script> -->
    <script type="text/javascript" src="/lib/custom.js"></script>    
	<!--[if lt IE 9]>
		<script src="/lib/html5.js"></script>
	<![endif]-->
	<header id="header">
	  <div id="header-outer">
	    <div class="wrapper clearfix">
	      <div id="logo-image">     
	        <a href="index"><img src="/images/slider/logo.png" alt="logo" /></a>
	      </div><!--end:logo-image-->      
	      <nav id="main-menu" class="clearfix">     
	        <ul class="clearfix" id="main-nav"> 
	          <li>
	            <a href="index">Home</a>
	          </li>               
	          <li class="current-menu-item">
	            <a href="canyin">Easy Order</a>
	          </li>
	          <li>
	            <a href="moves">Easy Move</a>
	          </li>
	          <li>
	            <a href="moves">Easy Decorate</a>
	          </li>           
	          <li>
	            <a href="welcome">Welcome(Login)</a>
	          </li>
	        </ul><!--end:main-nav-->
	      </nav><!--end:main-menu-->
	    </div><!--end:wrapper-->
	  </div><!--header-outer-->
	</header>
</head>
<body id="home-page">
	<div id="main-content">
		<div id="bottom-bg">	
			<div class="outter">
				<section class="wrapper slider-container">
					<div id="da-slider" class="da-slider">					
						<div class="da-slide">
							<div class="da-img"><img src="/images/slider/slide-2.jpg" alt="" /></div>
							<h1>
								<a href="shops">What is Lorem Ipsum?</a>
								<span>Lorem ipsum dolor sit amet</span>
							</h1>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
							<a href="shops" class="da-link big-button"><span>Learn more</span></a>
						</div>
						<div class="da-slide">
							<div class="da-img"><img src="/images/slider/slide-4.jpg" alt="" /></div>
							<h1>
								<a href="moves">What is Lorem Ipsum?</a>
								<span>Lorem ipsum dolor sit amet</span>
							</h1>
							<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<a href="moves" class="da-link big-button"><span>Learn more</span></a>
						</div>				
						<nav class="da-arrows">
							<span class="da-arrows-prev"></span>
							<span class="da-arrows-next"></span>
						</nav>
					</div><!--end:da-slider-->    	
				</section><!--end:wrapper-->
			</div><!--end:outter-->
		</div><!--bottom-bg-->
	</div><!--end:main-content-->      
		<div id="page-botom">
			<div class="outter">
				<div class="wrapper">
					<div id="footer-sidebar">
						<div class="one-forth">
							<aside class="widget">
								<h3 class="widget-title">About Us</h3>
								<div class="text-widget">
									<p>Easydian is a tool site to save your time and money to order the dinner and move your house.</p>
								</div><!--end:text-widget-->
							</aside><!--end:widget-->
						</div><!--one-forth-->
						<div class="one-forth">	
							<aside class="widget">
								<h3 class="widget-title">Contact Us</h3>
								<div class="text-widget">
									<p>Here you can get the <a href="contact">contact</a> information of us and leave a <a href="contact">comment</a> for us.</p>
								</div><!--end:text-widget-->
							</aside><!--end:widget-->
						</div><!--one-forth-->
						<div class="one-forth">	
							<aside class=" widget">
								<h3 class="widget-title">Help/FAQ</h3>
								<div class="newsletter">
									<p>Here you can get <a href="contact">help</a> from us.</p> 
								</div><!--end:newsletter-->
							</aside><!--end:widget-->
						</div><!--one-forth-->			
						<div class="one-forth last">	
							<aside class=" widget">
								<h3 class="widget-title">Follow us</h3>
								<ul class="social-links clearfix">
									<li class="gplus-icon">
										<a target="_blank" title="Google+" href="#">
											<img src="/images/icons/gplus-icon.png" alt="" />Google+                        
										</a>
									</li>
									<li class="facebook-icon">
										<a target="_blank" title="Facebook" class="facebook" href="#">
											<img src="/images/icons/facebook-icon.png" alt="" />Facebook
										</a>
									</li>
									<li class="twitter-icon">
										<a target="_blank" title="Twitter" class="twitter" href="#">
											<img src="/images/icons/twitter-icon.png" alt="" />Twitter                        
										</a>
									</li>
									<li class="rss-icon">
										<a target="_blank" title="RSS" href="#">
											<img src="/images/icons/rss-icon.png" alt="" />RSS                        
										</a>
									</li>
								</ul><!--end:social-links-->  
							</aside><!--end:widget-->
						</div><!--one-forth-->

						<div class="clear"></div>        	
					</div><!--end:footer-sidebar-->
				</div><!--end:wrapper-->
			</div><!--end:outter-->
			<footer id="footer" class="wrapper clearfix">
				<p id="copyright">Copyright &copy; <%= (new Date()).getFullYear()%> EasyDian. All Rights Reserved</p>            
				<a id="scroll-to-top" href="#top">Back to top</a>
			</footer>
		</div><!--page-bottom-->
		<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>