<html>
  <head>
    <link href="/stylesheet/main.css" media="screen" rel="stylesheet" type="text/css" /> 
    <script src="/jslib/jquery-1.9.1.min.js" type="text/javascript"></script> 
  </head>
  <body>
    <div id="fullwindow">
      <div id="header">
      </div>
      <div id="container">
        <div id="mainbox">
        </div>
        <div id="sidebox">
        </div>
      </div>
      <div id="gap"></div>
      <div id="footer">
      <div>
    </div>
  </body>
</html>