<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Shop View</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

    <script type="text/javascript" src="/jslib/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/jslib/highcharts.js"></script>
	<script type="text/javascript" src="/jslib/exporting.js"></script>

	<script type="text/javascript">

    jQuery(document).ready(function () {
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart<%= id %>',
                type: 'line',
                height: 150,
                marginRight: 130,
                marginBottom: 25
            },
            credits: {
                text: 'Detailed Comments >>',
                href: '/shopcomment/<%= id %>'
            },
            title: {
                text: 'Good/Bad Comments',
                x: -20 //center
            },
            xAxis: {
                categories: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat',
				'Sun']
            },
            yAxis: {
                title: {
                    text: 'Comments'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function () {
                    return 'Week: ' + this.x + '<br/>' + this.series.name  + ': ' + this.y
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 50,
                borderWidth: 0
            },
            series: [{
                name: 'Good Comments',
                data: [60, 70, 80, 90, 100, 110, 120]
            }, {
                name: 'Bad Comments',
                data: [15, 25, 35, 45, 55, 65, 75]
            }]
        });
    });
</script>

<body>
<div id="chart<%= id %>">

</div><!--end:main-content-->     
</body>
</html>