<div id="login_wrapper">
    <div id="login">
        <div class="logo"></div>
        <form class="form" id="login_form">
            <input type="text" class="f-light f-semibold" name="user[email]" placeholder="Username" value="" id="email"/> 
            <input type="password" class="f-light f-semibold" name="user[password]" placeholder="Password" value="" id="password"/>
            <button type="submit" class="btn btn-primary f-light f-semibold" name="login" id="login_btn"> Sign In</button>
        </form>
    </div>
</div>