	

@media only screen and (min-width: 1024px) and (max-width: 1260px) {
	/* =========================================================
		Columns
	============================================================ */
	.one-forth {
		width:22.99%;
		margin-right:2.58%;
	}
	.one-second {
		width:48.66%;
		margin-right:2.58%;
	}
	.one-third {
		margin-right:2.58%;
		width:31.56%;
	}
	.three-forth {
		width:74.35%;
		margin-right:2.58%;
	}
	.last {
		margin-right:0 !important;
	}
	.wrapper {
		width:98.38%;
	}
	#header-outer, .outter {
		width:94%;
	}
	/*--------------- Home Page Slider -----------------*/	
	.da-slide h1{
		font-size: 35px;
		top: 15px;
	}
	.da-slide p{
		top: 80px;
	}
	.da-slide .da-img{
		width:55%;
	}
	.da-slide .da-img img {
		width:100%;
		height:auto;
	}
	/* =========================================================
		Main Content
	============================================================ */
	.tagline p{
		padding:0 7.2%;
	}
	.container {
		width:95.09%;
	}
	/*** Middle Sidebar ***/
	.about-content  img {
		margin-right:5.3%;
		width:47.34%;
	}
	/*** Feature Sidebar ***/
	hr {
		width:95.09%;
	}
	.feature-slider .feature-title {
		margin-left:2.45%;
	}
	.es-carousel-wrapper {
		padding: 25px 2.45% 0px 2.45%;
	}
	.es-nav {
		right:2.45%;
	}
	/*** Footer Sidebar ***/
	#footer-sidebar {
		width:93.55%;
		padding:35px 2.41%;
	}
	#footer-sidebar .text-widget {
		width:100%;
	}
	#footer-sidebar .social-links {
		width:100%;
	}
	#footer-sidebar .social-links li {
		margin:0 0 0 2.23%;
	}
	#footer-sidebar .social-links li.follow-us {
		display:none;
	}
	#footer-sidebar .widget .newsletter {
		width:100%;
	}
	#footer-sidebar .widget .newsletter form {
		width:100%;
	}
	#footer-sidebar .widget .email {
		padding: 6px 3.73%;
		width: 52.98%;
	}
	#footer-sidebar .widget .submit-newsletter {
		padding: 6px 3.73% 5px;
	}
	#footer-sidebar .widget .twitter-ul {
		padding-left:5.59%;
	}
	/* =========================================================
		Footer
	============================================================ */
	#footer {
		width:98.38%;
	}
	#footer #copyright {
		margin-left:2.86%;
	}
	#footer #scroll-to-top {
		margin-right:2.04%;
		padding-left:1.22%;
	}
	/* =========================================================
		Portfolio Page
	============================================================ */
	.one-second .entry-item, .one-second .entry-item a, .one-third .entry-item, .one-third .entry-item a, .one-forth .entry-item, .one-forth .entry-item a {
		width:100%
	}
	.one-second .entry-item a img {
		padding:0.88%;
		width:97.78%;
	}
	
	.one-third .entry-item a img {
		padding:1.36%;
		width:96.73%;
	}

	.one-forth .entry-item a img {
		padding:1.86%;
		width:95.52%;
	}
	/* =========================================================
		About Page
	============================================================ */
	.about-us, .about-us article, .service-box, .our-team {
		width:100%;
	}
	.about-us article img {
		width:31.02%;
		margin-right:3.47%;
	}
	.service-box .one-forth, .our-team .one-forth {
		width:31.02%;
		margin-right:3.47%;
	}
	.kp-dropcap {
		margin-right:2.99%;
	}
	.service-box .entry-title {
		width:76.34%;
		text-transform:none;
		font-size:14px;
	}
	.our-team .one-forth img {
		padding:1.49%;
		margin-right:5.6%;
	}
	.our-team .one-forth .entry-meta {
		margin:5px 0;
	}
	/* =========================================================
		Right Sidebar
	============================================================ */
	#right-sidebar .widget, #right-sidebar .widget ul, #right-sidebar .widget ul li, #right-sidebar .widget ul li article {
		width:100%;
	}
	#right-sidebar .widget ul li img {
		padding:1.11%;
		width:27.98%;
	}
	/* =========================================================
		Blog Page
	============================================================ */
	.post-item {
		width:100%;
	}
	.post-meta {
		margin-right:2.89%;
		width:9.72%;
		padding-bottom:10px;
	}
	.post-meta .entry-date {
		padding:15px 0;
	}
	.post-meta .entry-date p {
		font-size:24px;
	}
	.post-meta .entry-date span {
		text-transform:none;
		font-size:11px;
	}
	.post-meta .entry-author, .post-meta .entry-comment, .social-share {
		display:none;
	}
	.post-content {
		width:87.38%;
	}
	.post-content a img {
		padding:0.66%;
		width:98.41%;
	}
	/* =========================================================
		Single Page
	============================================================ */
	#comments-container .comment .children {
		padding-left:10.41%;
	}
	.comment-wrap .avatar {
		margin-right:2.31%;
		width:8.1%;
	}
	.comment-pagination a, .comment-pagination span {
		padding: 15px 1.15%;
	}
	/*======Comment Form=========*/
	#respond, #comments-form {
		width:100%;
	}
	.about-author {
		padding:15px 2.31%;
		width:95.13%;
	}
	.about-author-content{
		width:100%;
	}
	.about-author img{
		width:10.94%;
		margin-right:2.31%;	
	}
	.recommended-article {
		width:43.08%;
		margin-right:3.47%;
		padding:15px 2.31%;
	}
	.subscribe-us {
		width:48.14%;
	}
	.subscribe-us h5 {
		margin:0 4.8%;
	}
	.subscribe-us .newsletter {
		width:90.38%;
		padding:5px 4.8% 20px 4.8%;
	}
	.subscribe-us .newsletter form {
		width:100%;
	}
	.subscribe-us .newsletter .email {
		width:69.91%;
		padding:0 2.65%;
		margin-right:3.19%;
	}
	.subscribe-us .newsletter .submit-newsletter {
		width:19.88%;
	}
	.related-posts-wrapper h5 {
		padding:10px 2.32%;
	}
	.related-posts-wrapper .list-carousel ul li a {
		font-size:12px;
	}
	#comments-style2 {
		width:100%;
	}
	#comments-style2 .comments-list .comment article {
		padding:2.31%;
		width:95.13%;
	}
	#comments-style2 .comment .children {
		padding-left:12.44%;
	}
	/* =========================================================
		Contact Page
	============================================================ */
	#contact-form, #contact-form p {
		width:100%;
	}
	#contact-form #contact-name, #contact-form #contact-email, #contact-form #contact-url {
		margin-right:1.76%;
		padding:0 1.76%;
	}
	#contact-form #contact-message {
		padding:5px 1.76%;
	}
	#contact-form #verify {
		margin:0 1.76% 0 2.65%;
	}
	/* =========================================================
		Element Page
	============================================================ */
	.tab-container {
		padding:5.3%;
	}
	.one-second .one-forth {
		width:47.34%;
		margin-right:5.3%;
	}
	.kp-error, .kp-success, .kp-info, .kp-notice {
		padding: 10px 7.46%;
	
	}
	/* =========================================================
		Pringcing Table Page
	============================================================ */
	/*** Table 4 column ***/
	.table-4col .features, .table-5col .features {
		width:100%;
	}
	.table-4col .features li {
		width:86.15%;
		margin:0 6.92%;	
	}
	.table-4col, .table-5col {
		width:100%;	
	}
	.table-4col .pricing-column {
		width:24.86%;
	}
	.table-5col .pricing-column {
		width:19.7%;
	}
	.table-5col .features li {
		width:82.53%;
		margin:0 8.73%;	
	}

}

@media only screen and (min-width: 860px) and (max-width: 1023px) {
	/* =========================================================
		Columns
	============================================================ */
	.one-forth {
		width:22.99%;
		margin-right:2.58%;
	}
	.one-second {
		width:48.66%;
		margin-right:2.58%;
	}
	.one-third {
		margin-right:2.58%;
		width:31.55%;
	}
	.three-forth {
		width:74.35%;
		margin-right:2.58%;
	}
	.last {
		margin-right:0 !important;
	}
	.wrapper {
		width:98.38%;
	}
	.outter {
		width:94%;
	}
	#header-outer, .outter {
		width: 94%;
	}
	/*--------------- Home Page Slider -----------------*/	
	.da-slide .da-img {
		width:55%;
		top:15px;
	}
	.da-slide .da-img img {
		width:100%;
		height:auto;
	}
	.da-slide h1 {
		font-size:28px;
		top:15px;
	}
	.da-slide h1 span {
		font-size:19px;
		margin-top:0;
	}
	.da-slide p {
		top:80px;
	}
	.da-arrows{
		display:none;
	}
	/* =========================================================
		Main Content
	============================================================ */
	.tagline p {
		padding:0 7.2%;
		font-size:20px;
	}
	.container {
		width:95.09%;
	}
	/*** Middle Sidebar ***/
	.about-content  img {
		margin-right:5.3%;
		width:47.34%;
	}
	.feature-services .one-forth .entry-title{
		font-size:18px;
	}
	.about-content .entry-title{
		font-size:20px;
	}
	/*** Feature Sidebar ***/
	hr {
		width:95.09%;
	}
	.feature-slider .feature-title {
		margin-left:2.45%;
		font-size:18px;
	}
	.es-carousel-wrapper {
		padding: 25px 2.45% 0px 2.45%;
	}
	.es-nav {
		right:2.45%;
	}
	/*** Footer Sidebar ***/
	#footer-sidebar {
		width:93.55%;
		padding:35px 2.41%;
	}
	#footer-sidebar .text-widget {
		width:100%;
	}
	#footer-sidebar .social-links {
		width:100%;
	}
	#footer-sidebar .widget .social-links li{
		margin:0 0 0 2.23%;
	}
	#footer-sidebar .social-links li.follow-us {
		display:none;
	}
	#footer-sidebar .widget .newsletter {
		width:100%;
	}
	#footer-sidebar .widget .newsletter form {
		width:100%;
	}
	#footer-sidebar .widget .email {
		padding: 6px 3.73%;
		width: 51.78%;
	}
	#footer-sidebar .widget .submit-newsletter {
		padding: 6px 2.43% 5px;
	}
	#footer-sidebar .widget .twitter-ul {
		padding-left:5.59%;
	}
	/* =========================================================
		Footer
	============================================================ */
	#footer {
		width:98.38%;
	}
	#footer #copyright {
		margin-left:2.86%;
	}
	#footer #scroll-to-top {
		margin-right:2.04%;
		padding-left:1.22%;
	}
	/* =========================================================
		Portfolio Page
	============================================================ */
	.one-second .entry-item, .one-second .entry-item a, .one-third .entry-item, .one-third .entry-item a, .one-forth .entry-item, .one-forth .entry-item a {
		width:100%
	}
	.one-second .entry-item a img {
		padding:0.88%;
		width:97.78%;
	}
	
	.one-third .entry-item a img {
		padding:1.36%;
		width:96.73%;
	}

	.one-forth .entry-item a img {
		padding:1.86%;
		width:95.52%;
	}
	/* =========================================================
		About Page
	============================================================ */
	.service-box .one-forth, .our-team .one-forth{
		width:100%;
	}
	.service-box .one-forth {
		margin-bottom:20px;
	}
	.our-team .one-forth {
		margin-bottom:20px;
		margin-top:0;
	}
	.about-us article img {
		width:31.02%;
		margin-right:3.47%;
	}
	.service-box .one-forth, .our-team .one-forth {
		width:29.86%%;
		margin-right:3.47%;
	}
	.our-team blockquote {
		margin-bottom:20px;
	}
	.kp-dropcap {
		margin-right:2.99%;
	}
	.service-box .entry-title {
		width:89.34%;
		text-transform:none;
		font-size:14px;
	}
	.our-team .one-forth img {
		padding:1.49%;
		margin-right:5.6%;
	}
	.our-team .one-forth .entry-meta {
		margin:5px 0;
	}
	/* =========================================================
		Right Sidebar
	============================================================ */
	#right-sidebar .widget, #right-sidebar .widget ul, #right-sidebar .widget ul li, #right-sidebar .widget ul li article {
		width:100%;
	}
	#right-sidebar .widget ul li img {
		padding:1.11%;
		width:27.98%;
	}
	/* =========================================================
		Blog Page
	============================================================ */
	.post-item {
		width:100%;
	}
	.post-meta {
		margin-right:2.89%;
		width:9.72%;
		padding-bottom:10px;
	}
	.post-meta .entry-date {
		padding:10px 0;
	}
	.post-meta .entry-date p {
		font-size:24px;
	}
	.post-meta .entry-date span {
		text-transform:none;
		font-size:10px;
	}
	.post-meta .entry-author, .post-meta .entry-comment, .social-share {
		display:none;
	}
	.post-content {
		width:87.38%;
	}
	.post-content a img {
		padding:0.66%;
		width:98.41%;
	}
	/* =========================================================
		Single Page
	============================================================ */
	#comments-container .comment .children {
		padding-left:10.41%;
	}
	.comment-wrap .avatar {
		margin-right:2.31%;
		width:8.1%;
	}
	.comment-pagination a, .comment-pagination span {
		padding: 15px 1.15%;
	}
	/*======Comment Form=========*/
	#respond, #comments-form {
		width:100%;
	}
	.about-author {
		padding:15px 2.31%;
		width:95.13%;
	}
	.about-author-content{
		width:100%;
	}
	.about-author img{
		width:10.94%;
		margin-right:2.31%;	
	}
	.recommended-article {
		width:43.08%;
		margin-right:3.47%;
		padding:15px 2.31%;
	}
	.subscribe-us {
		width:48.11%;
	}
	.subscribe-us h5 {
		margin:0 4.8%;
	}
	.subscribe-us .newsletter {
		width:90.48%;
		padding:5px 4.8% 20px 4.8%;
	}
	.subscribe-us .newsletter form {
		width:100%;
	}
	.subscribe-us .newsletter .email {
		width:69.58%;
		padding:0 2.65%;
		margin-right:3.19%;
	}
	.subscribe-us .newsletter .submit-newsletter {
		width:19.88%;
		font-size:11px;
	}
	.related-posts-wrapper h5 {
		padding:10px 2.32%;
	}
	.related-posts-wrapper .list-carousel ul li a {
		font-size:12px;
	}
	#comments-style2 {
		width:100%;
	}
	#comments-style2 .comments-list .comment article {
		padding:2.31%;
		width:95.13%;
	}
	#comments-style2 .comment .children {
		padding-left:12.44%;
	}
	/* =========================================================
		Contact Page
	============================================================ */
	.one-second iframe.google-map {
		height:310px;
	}
	#contact-form, #contact-form p {
		width:100%;
	}
	#contact-form #contact-name, #contact-form #contact-email, #contact-form #contact-url {
		margin-right:1.76%;
		padding:0 1.76%;
	}
	#contact-form #contact-message {
		padding:5px 1.76%;
	}
	#contact-form #verify {
		margin:0 1.76% 0 2.65%;
	}
	#contact-info .free-phone, #contact-info .tele-phone, #contact-info .contact-fax, #contact-info .contact-email {
		width:74.63%;
	}
	/* =========================================================
		Element Page
	============================================================ */
	.tab-container {
		padding:5.3%;
	}
	.one-second .one-forth {
		width:44.7%;
		margin-right:5.3%;
	}
	.kp-error, .kp-success, .kp-info, .kp-notice {
		padding: 10px 7.46%;
	
	}
	/* =========================================================
		Pringcing Table Page
	============================================================ */
	/*** Table 4 column ***/
	.table-4col .features, .table-5col .features {
		width:100%;
	}
	.table-4col .features li {
		width:86.15%;
		margin:0 6.92%;	
	}
	.table-4col, .table-5col {
		width:100%;	
	}
	.table-4col .pricing-column {
		width:24.83%;
	}
	.table-5col .pricing-column {
		width:19.7%;
	}
	.table-5col .features li {
		width:82.53%;
		margin:0 8.73%;	
	}
	.price span {
		font-size:46px;
	}
	.price sup {
		font-size:18px;
	}

}


@media only screen and (min-width: 580px) and (max-width: 859px) {
	/* =========================================================
		Columns
	============================================================ */
	.one-forth {
		width:23%;
		margin-right:2.58%;
		margin-bottom:15px;
	}
	.one-column {
		margin-right:0;
	}
	.one-second {
		width:48.66%;
		margin-right:2.58%;
	}
	.one-third {
		margin-right:2.58%;
		width:47.33%;
	}
	.three-forth {
		width:100%;
		margin-right:0;
	}
	.last {
		margin-right:0 	!important;
	}
	.wrapper {
		width:98.38%;
	}
	.outter {
		width:94%;
		padding-top:0.6%;
	}
	#header-outer{
		width:94%;
	}
	#header {
		height:160px;
	}
	/*** Logo ***/
	#logo-image {
		float: none;
		margin-top: 20px;
		text-align: center;
		width: 100%;
	}
	/*** Menu ***/
	#main-menu {
		float: none;
		margin-top: 15px;
		width: 100%;
	}
	#main-menu #main-nav {
		display:none;
	}
	#responsive-menu {
		display:block;
		width:100%;
	}
	
	.slider-container{
		display:none;
	}
	
	/* =========================================================
		Main Content
	============================================================ */
	.tagline p{
		padding:0 7.2%;
		font-size:18px;
	}
	.container {
		width:95.09%;
		margin:0 auto 20px;
	}	
	.feature-services .one-forth .entry-title{
		font-size:16px;
	}
	.about-content  img {
		margin-right:5.3%;
		width:47.34%;		
	}
	.about-content .entry-title{
		font-size:22px;
	}
	.testimonials-title{
		font-size:18px;
	}
	hr {
		width:95.09%;
	}
	.feature-slider .feature-title {
		margin-left:2.45%;
		font-size:18px;
	}
	.es-carousel-wrapper {
		padding: 25px 2.45% 0px 2.45%;
	}
	.es-nav {
		right:2.45%;
	}
	/*** Footer Sidebar ***/
	#footer-sidebar {
		width:93.55%;
		padding:35px 2.41%;
	}
	#footer-sidebar .text-widget {
		width:100%;
	}
	#footer-sidebar .social-links {
		display:none;
	}
	#footer-sidebar .social-links li.follow-us {
		display:none;
	}
	#footer-sidebar .widget .newsletter {
		width:100%;
	}
	#footer-sidebar .widget .newsletter form {
		width:100%;
	}
	#footer-sidebar .widget .email {
		padding: 6px 3.73%;
		width: 90%;
	}
	#footer-sidebar .widget .submit-newsletter {
		padding: 6px 3.73% 5px;
		margin-top:5px;
	}
	#footer-sidebar .widget .twitter-ul {
		padding-left:5.59%;
	}
	/* =========================================================
		Footer
	============================================================ */
	#footer {
		width:98.38%;
	}
	#footer #copyright {
		margin-left:2.86%;
	}
	#footer #scroll-to-top {
		margin-right:2.04%;
		padding-left:1.22%;
	}
	/* =========================================================
		Portfolio Page
	============================================================ */
	.one-second .entry-item, .one-second .entry-item a, .one-third .entry-item, .one-third .entry-item a, .one-forth .entry-item, .one-forth .entry-item a {
		width:100%
	}
	.one-second .entry-item a img {
		padding:0.88%;
		width:97.78%;
	}
	
	.one-third .entry-item a img {
		padding:1.36%;
		width:96.73%;
	}

	.one-forth .entry-item a img {
		padding:1.86%;
		width:95.52%;
	}
	.container .one-forth {
		width:47.33%;
	}
	/* =========================================================
		About Page
	============================================================ */
	.about-us, .about-us article, .service-box, .our-team {
		width:100%;
	}
	.about-us article img {
		width:31.02%;
		margin-right:3.47%;
	}
	.service-box .one-forth, .our-team .one-forth {
		width:100%;
		margin-right:0;
		margin-bottom:20px;
	}
	.kp-dropcap {
		margin-right:2.99%;
	}
	.service-box .entry-title {
		width:88.34%;
		text-transform:none;
	}
	.our-team .one-forth img {
		padding:1.49%;
		margin-right:5.6%;
	}
	.our-team .one-forth .entry-meta {
		margin:5px 0;
	}
	/* =========================================================
		Right Sidebar
	============================================================ */
	#right-sidebar {
		width:100%;
	}
	#right-sidebar .widget, #right-sidebar .widget ul, #right-sidebar .widget ul li, #right-sidebar .widget ul li article {
		width:100%;
	}
	
	/* =========================================================
		Blog Page
	============================================================ */
	.post-item {
		width:100%;
	}
	.post-meta {
		margin-right:2.89%;
		width:9.72%;
		padding-bottom:10px;
	}
	.post-meta .entry-date {
		padding:10px 0;
	}
	.post-meta .entry-date p {
		font-size:24px;
	}
	.post-meta .entry-date span {
		text-transform:none;
		font-size:9px;
	}
	.post-meta .entry-author, .post-meta .entry-comment, .social-share {
		display:none;
	}
	.post-content {
		width:87.38%;
	}
	.post-content a img {
		padding:0.66%;
		width:98.41%;
	}
	/* =========================================================
		Single Page
	============================================================ */
	
	#comments-container .comment .children{
		padding-left:20px;
	}
	.comment-wrap .avatar {
		margin-right:2.31%;
		width:11.1%;
	}
	.comment-pagination a, .comment-pagination span {
		padding: 15px 1.15%;
	}
	/*======Comment Form=========*/
	#respond, #comments-form {
		width:100%;
	}
	.about-author {
		padding:15px 2.31%;
		width:95.13%;
	}
	.about-author-content{
		width:100%;
	}
	.about-author img{
		width:10.94%;
		margin-right:2.31%;	
	}
	.recommended-article {
		width:43.08%;
		margin-right:3.47%;
		padding:15px 2.31%;
	}
	.subscribe-us {
		width:48.03%;
	}
	.subscribe-us h5 {
		margin:0 4.8%;
	}
	.subscribe-us .newsletter {
		width:90.38%;
		padding:5px 4.8% 20px 4.8%;
	}
	.subscribe-us .newsletter form {
		width:100%;
	}
	.subscribe-us .newsletter .email {
		width:69.32%;
		padding:0 2.65%;
		margin-right:3.19%;
	}
	.subscribe-us .newsletter .submit-newsletter {
		width:19.88%;
		font-size:11px;
	}
	.related-posts-wrapper h5 {
		padding:10px 2.32%;
	}
	.related-posts-wrapper .list-carousel ul li a {
		font-size:12px;
	}
	#comments-style2 {
		width:100%;
	}
	#comments-style2 .comments-list .comment article {
		padding:2.31%;
		width:95.13%;
	}
	#comments-style2 .comment .children {
		padding-left:0;
	}
	/* =========================================================
		Contact Page
	============================================================ */
	.one-second iframe.google-map {
		height:210px;
	}
	#contact-form, #contact-form p {
		width:100%;
	}
	#contact-form #contact-name, #contact-form #contact-email, #contact-form #contact-url {
		margin-right:1.76%;
		padding:0 1.76%;
	}
	#contact-form #contact-message {
		padding:5px 1.76%;
	}
	#contact-form #verify {
		margin:0 1.76% 0 0;
	}
	#contact-info .free-phone, #contact-info .tele-phone, #contact-info .contact-fax, #contact-info .contact-email {
		width:100%;
	}
	.contact-verify label {
		display:block;
		margin-bottom:5px;
	}
	#contact-form #verify-code {
		font-size:14px;
	}
	/* =========================================================
		Element Page
	============================================================ */
	.tab-container {
		padding:5.3%;
	}
	.one-second .one-forth {
		width:100%;
		margin-right:0;
	}
	.kp-error, .kp-success, .kp-info, .kp-notice {
		padding: 10px 7.46%;
	
	}
	.list-container ul li {
		width:30.31%;
	}
	.list-container ul.tabs li a {
		padding:12px 27.86%;
		font-size:12px;
	}
	.circle-list li {
		padding-left:10px;
	}
	.big-green-button span {
		padding: 18px 60px 17px 20px;
	}
	/* =========================================================
		Pringcing Table Page
	============================================================ */
	/*** Table 4 column ***/
	.table-4col .features, .table-5col .features {
		width:100%;
	}
	.table-4col .features li {
		width:86.15%;
		margin:0 6.92%;	
	}
	.table-4col, .table-5col {
		width:100%;	
	}
	.table-4col .pricing-column {
		width:49.7%;
	}
	.table-5col .pricing-column {
		width:33.06%;		
	}
	.table-5col .pricing-border {
		border-left:1px solid #bdbdbd;
	}
	.table-5col .features li {
		width:82.53%;
		margin:0 8.73%;	
	}
	.table-4col .pricing-column-third {
		background:none;
		border-left:1px solid #bdbdbd;
	}
	.table-4col .pricing-column-third .price {
		background-image:none;
		background-color:#eeeeee;
	}
	.price span {
		font-size:50px;
	}

}	

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 579px) {
	/* =========================================================
		Columns
	============================================================ */
	.one-forth {
		width:100%;
		margin-right:0;
		margin-bottom:20px;
	}
	.one-column {
		margin-right:0;
	}
	.one-second {
		width:100%;
		margin-right:0;
	}
	.one-third {
		margin-right:0;
		width:100%;
	}
	.three-forth {
		width:100%;
		margin-right:0;
	}
	.last {
		margin-right:0 	!important;
	}
	.wrapper {
		width:98.38%;
	}
	#header-outer, .outter {
		width:94%;
		padding-top:0.5%;
	}
	#header {
		height:160px;
	}
	/*** Logo ***/
	#logo-image {
		float: none;
		margin-top: 20px;
		text-align: center;
		width: 100%;
	}
	/*** Menu ***/
	#main-menu {
		float: none;
		margin-top: 15px;
		width: 100%;
	}
	#main-menu #main-nav {
		display:none;
	}
	#responsive-menu {
		display:block;
		width:100%;
	}
	/*--------------- Home Page Slider -----------------*/	
	.slider-container{
		display:none;
	}
	/* =========================================================
		Main Content
	============================================================ */
	.tagline p {
		padding:0 7.2%;
		font-size:16px;
	}
	/*** Top Sidebar ***/
	.about-content .one-forth h3.entry-title {
		margin-top:5px;
	}
	.container {
		width:95.09%;
	}	
	/*** Middle Sidebar ***/
	.about-content  img {
		margin-right:5.3%;
		width:47.34%;		
	}
	.about-content .entry-title{
		font-size:20px;
	}
	.about-content  h3.testimonials-title {
		margin-top:20px;
	}
	/*** Feature Sidebar ***/
	hr {
		width:95.09%;
		margin:10px auto;
	}
	.feature-slider .feature-title {
		margin-left:2.45%;
	}
	.es-carousel-wrapper {
		padding: 25px 2.45% 0px 2.45%;
	}
	.es-nav {
		right:2.45%;
	}
	/*** Footer Sidebar ***/
	#footer-sidebar {
		width:93.55%;
		padding:35px 2.41%;
	}
	
	#footer-sidebar .widget{
		margin-bottom:20px;
		width:100%;
	}
	#footer-sidebar .social-links li {
		margin:0 0 0 2.23%;
	}
	#footer-sidebar .social-links li.follow-us {
		display:none;
	}
	#footer-sidebar .widget .newsletter form {
		width:100%;
	}
	#footer-sidebar .widget .email {
		padding: 6px 3.73%;
		width: 52.98%;
	}
	#footer-sidebar .widget .submit-newsletter {
		padding: 6px 3.73% 5px;
	}
	#footer-sidebar .widget .twitter-ul {
		padding-left:5.59%;
	}
	#footer-sidebar h3.widget-title {
		margin-bottom:5px;
	}
	/* =========================================================
		Footer
	============================================================ */
	#footer {
		width:98.38%;
		text-align:center;
	}
	#footer #copyright {
		margin-left:0px;
		font-size:11px;
		width:100%;
	}
	#footer #scroll-to-top {
		margin-right:0px;
		font-size:11px;
		background: url("/images/background/back-to-top.png") no-repeat scroll left 3px transparent;
    	float: none;
		padding-left:8px;
	}
	#footer #scroll-to-top:hover {
		background: url("/images/background/back-to-top.png") no-repeat scroll left -36px transparent;
	}
	/* =========================================================
		Portfolio Page
	============================================================ */
	.one-second .entry-item, .one-second .entry-item a, .one-third .entry-item, .one-third .entry-item a, .one-forth .entry-item, .one-forth .entry-item a {
		width:100%
	}
	.one-second .entry-item a img {
		padding:0.88%;
		width:97.78%;
	}
	
	.one-third .entry-item a img {
		padding:1.36%;
		width:96.73%;
	}

	.one-forth .entry-item a img {
		padding:1.86%;
		width:95.52%;
	}
	/* =========================================================
		About Page
	============================================================ */
	.about-us, .about-us article, .service-box, .our-team {
		width:100%;
	}
	.about-us article img {
		width:31.02%;
		margin-right:3.47%;
	}
	.service-box .one-forth, .our-team .one-forth {
		width:100%;
		margin-right:0;
		margin-bottom:20px;
	}
	.kp-dropcap {
		margin-right:2.99%;
	}
	.service-box .entry-title {
		width:82.84%;
		text-transform:none;
	}
	.our-team .one-forth img {
		padding:1.49%;
		margin-right:5.6%;
	}
	.our-team .one-forth .entry-meta {
		margin:5px 0;
	}
	/* =========================================================
		Right Sidebar
	============================================================ */
	#right-sidebar {
		width:100%;
	}
	#right-sidebar .widget, #right-sidebar .widget ul, #right-sidebar .widget ul li, #right-sidebar .widget ul li article {
		width:100%;
	}
	/* =========================================================
		Blog Page
	============================================================ */
	.post-item {
		width:100%;
	}
	.post-meta {
		margin-right:2.89%;
		width:9.72%;
		padding-bottom:10px;
	}
	.post-meta .entry-date {
		padding:10% 0;
	}
	.post-meta .entry-date p {
		font-size:24px;
	}
	.post-meta .entry-date span {
		text-transform:none;
		font-size:9px;
	}
	.post-meta .entry-author, .post-meta .entry-comment, .social-share {
		display:none;
	}
	.post-content {
		width:87.38%;
	}
	.post-content a img {
		padding:0.66%;
		width:98.41%;
	}
	/* =========================================================
		Single Page
	============================================================ */
	#comments-container .comment .children{
		padding-left:20px;
	}
	.comment-wrap .avatar {
		margin-right:2.31%;
		width:11.1%;
	}
	.comment-pagination a, .comment-pagination span {
		padding: 15px 1.15%;
	}
	/*======Comment Form=========*/
	#respond, #comments-form {
		width:100%;
	}
	.about-author {
		padding:15px 2.31%;
		width:95.13%;
	}
	.about-author-content{
		width:100%;
	}
	.about-author img{
		width:10.94%;
		margin-right:2.31%;	
	}
	.recommended-article {
		width:95.38%;
		margin-right:0%;
		padding:15px 2.31%;
	}
	.subscribe-us {
		width:100%;
	}
	.subscribe-us h5 {
		margin:0 4.8%;
	}
	.subscribe-us .newsletter {
		width:90.38%;
		padding:5px 4.8% 20px 4.8%;
	}
	.subscribe-us .newsletter form {
		width:100%;
	}
	.subscribe-us .newsletter .email {
		width:69.32%;
		padding:0 2.65%;
		margin-right:3.19%;
	}
	.subscribe-us .newsletter .submit-newsletter {
		width:19.88%;
		font-size:11px;
	}
	.related-posts-wrapper h5 {
		padding:10px 2.32%;
	}
	.related-posts-wrapper .list-carousel ul li a {
		font-size:12px;
	}
	#comments-style2 {
		width:100%;
	}
	#comments-style2 .comments-list .comment article {
		padding:2.31%;
		width:95.13%;
	}
	#comments-style2 .comment .children {
		padding-left:0;
	}
	/* =========================================================
		Contact Page
	============================================================ */
	.one-second iframe.google-map {
		height:210px;
	}
	#contact-form, #contact-form p {
		width:100%;
	}
	#contact-form #contact-name, #contact-form #contact-email, #contact-form #contact-url {
		margin-right:1.76%;
		padding:0 1.76%;
	}
	#contact-form #contact-message {
		padding:5px 1.76%;
	}
	#contact-form #verify {
		margin:0 1.76% 0 0;
	}
	#contact-info .free-phone, #contact-info .tele-phone, #contact-info .contact-fax, #contact-info .contact-email {
		width:100%;
	}
	.contact-verify label {
		display:block;
		margin-bottom:5px;
	}
	#contact-form #verify-code {
		font-size:14px;
	}
	/* =========================================================
		Element Page
	============================================================ */
	.tab-container {
		padding:5.3%;
	}
	.one-second .one-forth {
		width:100%;
		margin-right:0;
	}
	.kp-error, .kp-success, .kp-info, .kp-notice {
		padding: 10px 7.46%;
	
	}
	.list-container ul li {
		width:30.31%;
	}
	.list-container ul.tabs li a {
		padding:12px 27.86%;
		font-size:12px;
	}
	.circle-list li {
		padding-left:10px;
	}
	blockquote {
		margin-bottom:30px;
	}
	/* =========================================================
		Pringcing Table Page
	============================================================ */
	/*** Table 4 column ***/
	.table-4col .features, .table-5col .features {
		width:100%;
	}
	.table-4col .features li {
		width:86.15%;
		margin:0 6.92%;	
	}
	.table-4col, .table-5col {
		width:100%;	
	}
	.table-4col .pricing-column {
		width:100%;
		border-left:1px solid #bdbdbd;
	}
	.table-5col .pricing-column {
		width:100%;
		border-left:1px solid #bdbdbd;
	}
	.table-5col .features li {
		width:82.53%;
		margin:0 8.73%;	
	}
	.table-4col .pricing-column-third {
		background:none;
		border-left:1px solid #bdbdbd;
	}
	.table-4col .pricing-column-third .price {
		background-image:none;
		background-color:#eeeeee;
	}
	.table-4col .pricing-column-first {
		background:none;
	}
	.table-4col .pricing-column-first .price {
		background-image:none;
		background-color:#eeeeee;
	}

}
