<div class="wrap">
	<div class="container">
        <section>
        	<div class="row pad5">
                <div id='post' class="col-md-8">
                </div>
                <div id='sidebar' class="col-md-4">
                </div>             	
        	</div>
        </section>
    </div>
</div>