<div style="width: 800px">
    <div class="three-forth" style="width: 500px">
        <div id="dining-chart-tip-"<%= shop._id%> >
            show chart view here
        </div><!--end:comments-container-->
    </div><!--end:three-forth-->
    <div id="right-sidebar" class="one-forth last" style="width: 240px">
        <div id="dining-comment-tip-"<%= shop._id%> >
            show comment here
        </div><!--end:list-container--> 
    </div><!--end:right-sidebar-->
</div> 