<div style="width: 600px">
    <div class="three-forth" style="width: 400px">
        <div id="dining-chart-tip-<%= shop._id%>" >
            show chart view here
        </div><!--end:comments-container-->
    </div><!--end:three-forth-->
    <div id="right-sidebar" class="one-forth last" style="width: 150px">
        <div id="dining-comment-tip-<%= shop._id%>">
            <div class="diningtestimonials">
                <div class="flexslider">
                    <ul class="slides">
                        <li class="clearfix">
                            <p>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes"</p>
                            <span>--- Xu | Web Develper</span>
                        </li>
                        <li class="clearfix">
                            <p>"Here is the second comment"</p>
                            <span>--- Wang | Web Develper</span>
                        </li>
                    </ul><!--end:slides-->                            
                </div><!--end:flexslider-->
            </div><!--end:diningtestimonials-->
        </div>
    </div><!--end:right-sidebar-->
</div> 