<div class="breadcrumb">
	<div class="wrap">
    	<div class="container">
            <a href="#">Home</a><span>/</span><a href="#<%= hash%>"><%= type%></a><span>/</span><%= page%>
        </div>
    </div>
</div>