<div id="page-botom">
  <div class="outter">
    <div class="wrapper">
      <div id="footer-sidebar">
        <div class="one-forth">
          <aside class="widget">
            <h3 class="widget-title">About Us</h3>
            <div class="text-widget">
              <p>Easydian is a tool site to save your time and money to order the dinner and move your house.</p>
            </div><!--end:text-widget-->
          </aside><!--end:widget-->
        </div><!--one-forth-->
        <div class="one-forth"> 
          <aside class="widget">
            <h3 class="widget-title">Contact Us</h3>
            <div class="text-widget">
              <p>Here you can get the <a href="contact">contact</a> information of us and leave a <a href="contact">comment</a> for us.</p>
            </div><!--end:text-widget-->
          </aside><!--end:widget-->
        </div><!--one-forth-->
        <div class="one-forth"> 
          <aside class=" widget">
            <h3 class="widget-title">Help/FAQ</h3>
            <div class="newsletter">
              <p>Here you can get <a href="contact">help</a> from us.</p> 
            </div><!--end:newsletter-->
          </aside><!--end:widget-->
        </div><!--one-forth-->      
        <div class="one-forth last">  
          <aside class=" widget">
            <h3 class="widget-title">Follow us</h3>
            <ul class="social-links clearfix">
              <li class="gplus-icon">
                <a target="_blank" title="Google+" href="#">
                  <img src="/images/icons/gplus-icon.png" alt="" />Google+                        
                </a>
              </li>
              <li class="facebook-icon">
                <a target="_blank" title="Facebook" class="facebook" href="#">
                  <img src="/images/icons/facebook-icon.png" alt="" />Facebook
                </a>
              </li>
              <li class="twitter-icon">
                <a target="_blank" title="Twitter" class="twitter" href="#">
                  <img src="/images/icons/twitter-icon.png" alt="" />Twitter                        
                </a>
              </li>
              <li class="rss-icon">
                <a target="_blank" title="RSS" href="#">
                  <img src="/images/icons/rss-icon.png" alt="" />RSS                        
                </a>
              </li>
            </ul><!--end:social-links-->  
          </aside><!--end:widget-->
        </div><!--one-forth-->
        <div class="clear"></div>         
      </div><!--end:footer-sidebar-->
    </div><!--end:wrapper-->
  </div><!--end:outter-->
  <footer id="footer" class="wrapper clearfix">
    <p id="copyright">Copyright &copy; <%= (new Date()).getFullYear()%> EasyDian. All Rights Reserved</p>            
    <a id="scroll-to-top" href="#top">Back to top</a>
  </footer>
</div><!--page-bottom-->