<div class="wrap">
  <div class="navbar navbar_ clearfix">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div class="logo"><a href="#"><img src="images/logo.png" alt="" /></a>
          </div>                        
        </div>
        <div class="span8">
          <div class="follow_us">
            <ul>
              <li><a href="#" class="facebook">Facebook</a></li>
              <li><a href="#" class="vimeo">Vimeo</a></li>
              <li><a href="#" class="tumbrl">Tumbrl</a></li>
              <li><a href="#" class="twitter">Twitter</a></li>
              <li><a href="#" class="delicious">Delicious</a></li>
            </ul>
          </div>
          <div class="clear"></div>
          <nav id="main_menu">
            <div class="menu_wrap">
              <ul class="nav sf-menu">
                <li id="menu_canyin"><a href="#canyin">Easy Order</a></li>
                <li id="menu_banjia"><a href="#banjia">Easy Move</a>
                </li>                                  
                <li id="menu_zhuangxiu"><a href="#zhuangxiu">Easy Decorate</a>
                </li>
                <li id="menu_feature"class="sub-menu"><a href="#feature">Features</a> 
                  <ul>
                    <li id="menu_scaffolding"><a href="#feature/scaffolding"><span>-</span>Scaffolding</a></li>
                    <li id="menu_typography"><a href="#feature/typography"><span>-</span>Typography</a></li>
                    <li id="menu_shortcodes"><a href="#feature/shortcodes"><span>-</span>Shortcodes</a></li>
                    <li id="menu_tables"><a href="#feature/tables"><span>-</span>Tables</a></li>
                  </ul> 
                </li>
                <li id="menu_login"><a href="#login">Welcome(Login)</a>  
                </li>
              </ul>
            </div>
          </nav>                            
        </div>
      </div>                
    </div>
  </div>
</div>    