<header id="header">
  <div id="header-outer">
    <div class="wrapper clearfix">
      <div id="logo-image">     
        <a href="index"><img src="/images/slider/logo.png" alt="logo" /></a>
      </div><!--end:logo-image-->      
      <nav id="main-menu" class="clearfix">     
        <ul class="clearfix" id="main-nav"> 
          <li  class="current-menu-item">
            <a href="index">Home</a>
          </li>               
          <li>
            <a href="canyin">Easy Order</a>
          </li>
          <li>
            <a href="moves">Easy Move</a>
          </li>
          <li>
            <a href="moves">Easy Decorate</a>
          </li>           
          <li>
            <a href="welcome">Welcome(Login)</a>
          </li>
        </ul><!--end:main-nav-->
      </nav><!--end:main-menu-->
    </div><!--end:wrapper-->
  </div><!--header-outer-->
</header>