<% data.forEach(function (value, index) { %>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"><%= value.header %>
            <span class="text-muted"><%= value.name %></span>
            <span class="text-muted"><%= value.cooker %></span>
        </h2>

        <p class="lead"><%= value.description %></p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
</div>
<% }); %>