<!--slider-->
<div id="main_slider">
        <div class="camera_wrap" id="camera_wrap_1">
        <% for(var i=0; i<ads.length; i++){ %> 
            <div data-src="<%= ads[i].shoplogo %>"></div>
        <% } %>                                        
        </div><!-- #camera_wrap_1 -->
    <div class="clear"></div> 
</div>        
<!--//slider-->