<ul>
    <li id="<%= data._id %>" >
        <div class="avatar"><a href="#"><img src="images/avatar/avatar.jpg" width="68" height="68" alt="" /></a></div>
        <div class="comment_right">
            <div class="comment_right">
                <div class="comment_info">
                    Posted by <a href="#">data.username</a> <span>|</span> <%= data.createtime %> <span>|</span> <a href="#canyin/update">Edit</a><span>|</span> <a href="#canyin/destroy">Delete</a>
                </div>
                <p><%= data.comment %></p>
            </div>
        </div>
        <div class="clear"></div>
    </li>
</ul>